<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
        / 根路径的意思，浏览器发出请求后会自动把http://127.0.0.1:7000拼上的

        摒弃文件路径思维，服务端开发要把路径全部想象成URL地址

     -->
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<div class="header container">
    <p>
        <img src="/public/ab.jpg" alt="">
    </p>
    <div class="page-header">
        <h1>NodeJS 留言板  <small></small></h1>
        <a class="btn btn-success" href="/post">发表留言</a>
    </div>
    <script src="/public/js/main.js"></script>
</div>
<div class="container" style="margin-top: 24px">
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
</body>
</html>