<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
        / 根路径的意思，浏览器发出请求后会自动把http://127.0.0.1:7000拼上的

        摒弃文件路径思维，服务端开发要把路径全部想象成URL地址

     -->
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<div class="header container">
    <p>
        <img src="/public/ab.jpg" alt="">
    </p>
    <div class="page-header">
        <h1>Example page header <small>Subtext for header</small></h1>
        <a class="btn btn-success" href="/post">发表留言</a>
    </div>
</div>
</body>
</html>