/** 
@Author：Wyunfei
@Date：2019/1/7/12:28
@FileName: main
*/
html, body {
    width: 100%;
}
.custom-header {
    margin: 36px auto;

}
.custom-header small {
    float: right;
    font-size: 18px;
    margin-top: 24px;
}
.custom-container a {
    margin-top: 24px;
}